# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/

# Images
images/*